* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-view-main-container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 50px;
}
.profile-view-main-container .separator {
  border: 1px solid #cfcfcf;
  margin: 60px 0px 30px 60px;
  border: #13f534;
}
.all-match {
  margin-left: 70px;
}
.profile-cardsAd {
  width: 85%;
  display: flex;
  margin-left: 60px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-top: 25px;
}
.profile-cardsAd .image-containerAd {
  width: 240px;
  height: 300px;
  z-index: 10;
  position: relative;
}
.profile-cardsAd .image-containerAd img {
  height: 398px;
  width: 240px;
  object-fit: fill;
}
.profile-cardsAd .details-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
  position: relative;
}
.profile-cardsAd .details-sections div {
  padding-top: 20px;
}
.profile-cardsAd .profile-name-container .option {
  height: 30px;
  width: 30px;
}
.profile-cardsAd .profile-name-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.profile-cardsAd .profile-name-container .option svg {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.profile-cardsAd .profile-age-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.profile-cardsAd .profile-age-container .media-admin {
  display: flex;
  gap: 10px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
.profile-cardsAd .profile-age-container .media-admin .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}
.profile-cardsAd .profile-age-container .media div {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.profile-cardsAd .verify-container {
  position: absolute;
  right: -30px;
  background-color: #e2e2e2;
  padding: 30px 70px;
  border-radius: 50px;
  bottom: -25px;
}
.profile-cardsAd .premium-container {
  position: absolute;
  left: -50px;
  background-color: white;
  padding: 20px 70px;
  border-radius: 50px;
  top: -20px;
  color: #f8cb58;
  border: 3px solid #f8cb58;
  width: auto;
  display: flex;
  justify-content: end;
  z-index: -10;
}
.profile-view-main-container .about-card {
  width: 65%;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: 60px;
  border-radius: 20px;
  overflow: hidden;
}
.profile-view-main-container .about-card .about-card-container {
  width: 100%;
  padding: 20px 30px;
}
.profile-view-main-container .about-similar {
  width: 90%;
  display: flex;
  gap: 10px;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .about-user-container
  h3 {
  font-size: 20px;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .description-container {
  padding-top: 20px;
  width: 80%;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .basic-details-container {
  margin-top: 70px;
  width: 70%;
  margin-bottom: 30px;
}

.profile-view-main-container .basic-details-container .profiles-icon {
  color: #ff9900;
  margin-right: 15px;
  font-size: 24px;
}
.profile-view-main-container .basic-details-container div {
  padding-top: 10px;
}
.profile-view-main-container .basic-details-container .same {
  display: flex;
  align-items: center;
  width: 45%;
}
.profile-view-main-container .basic-details-container .same1 {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: start;
  flex-wrap: wrap;
}

.profile-view-main-container .basic-details-container .details-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .verification-main-container {
  width: 100%;
  margin: auto;
  /* background-color: #e2e2e2; */
  padding: 20px 10px;
  border-radius: 20px;

}
.profile-view-main-container
  .about-card
  .about-card-container
  .verification-main-container
  .letter-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .verification-main-container
  .letter-container
  .same {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .verification-main-container
  .letter-container
  hr {
  height: 18px;
  width: 3px;
  background-color: black;
  margin: 0px 20px;
  border: none;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .verification-main-container
  .letter-container
  h3 {
  padding-left: 10px;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .verification-main-container
  .digit-container {
  margin-top: 40px;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .verification-main-container
  .digit-container
  .digit-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-view-main-container
  .about-card
  .about-card-container
  .verification-main-container
  .digit-container
  .digit-main
  .call-now {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 20px;
}
.profile-view-main-container .about-card .about-pat {
  margin-top: 60px;
  width: 80%;
  overflow: hidden;
}
.profile-view-main-container .about-card .about-pat .about-pat-main {
  width: 100%;
  overflow: hidden;
}
.profile-view-main-container .about-card .about-pat .about-pat-main .contents {
  padding: 40px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardimage {
  width: 100%;
  height: 330px;
}

.cardimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1150px) {
  .profile-view-main-container .about-card .about-card-container {
    width: 100%;
    padding: 20px 10px 20px 20px;
  }
  .profile-view-main-container
    .about-card
    .about-card-container
    .description-container {
    width: 100%;
  }
  .profile-view-main-container
    .about-card
    .about-card-container
    .basic-details-container {
    width: 90%;
  }
  .profile-cards {
    width: 95%;
    margin: auto;
  }
  .profile-view-main-container .about-similar {
    margin: auto;
    width: 95%;
  }
  .profile-view-main-container .about-card {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .profile-view-main-container .about-similar {
    flex-direction: column;
  }
  .profile-view-main-container .about-card {
    width: 100%;
  }

  .profile-cards .premium-container {
    width: auto;
  }
  .all-match {
    padding: 20px 0px;
  }
}
@media (max-width: 500px) {
  .profile-cards .verify-container {
    display: none;
  }
  .profile-cards {
    flex-direction: column;
  }
  .profile-cards .premium-container {
    display: none;
  }
  .profile-cards .verify-container {
    display: none;
  }
  .profile-cards .image-container {
    width: 100%;
  }
}
