* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-reset-container {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.main-reset-container .reset-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.main-reset-container .eye-container{
    position: absolute;
    right: 10px;
}
.main-reset-container .password-input{
    display: flex;
    align-items: center;
    position: relative;
}
.main-reset-container h1 {
    color: #ff9900;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
}

.main-reset-container .form-group {
    margin-bottom: 1.5rem;
}

.main-reset-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #5f6368;
    font-weight: 500;
}

.main-reset-container input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #dadce0;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.main-reset-container input:focus {
    outline: none;
    border-color: #ff9900;
    box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.2);
}

.main-reset-container button {
    width: 100%;
    padding: 0.8rem;
    background: #ff9900;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-reset-container button:hover {
    background: #7e6237;
}

@media (max-width: 480px) {
    .main-reset-container .reset-container {
        margin: 1rem;
        padding: 1.5rem;
    }
}